# Named tuples and dataclasses

A quick review of named tuples (standad and typed) and dataclasses.

From the [Data Science from Scratch book](https://www.oreilly.com/library/view/data-science-from/9781492041122/).

## `namedtuple`

Similar to dictionaries but

- fields are named
- values are immutable

In [1]:
from collections import namedtuple
import datetime

In [2]:
StockPrice = namedtuple('StockPrice', ['symbol', 'date', 'closing_price'])

In [3]:
type(StockPrice)

type

In [4]:
price = StockPrice('MSFT', datetime.date(2018, 12, 14), 106.03)
price

StockPrice(symbol='MSFT', date=datetime.date(2018, 12, 14), closing_price=106.03)

In [5]:
type(price)

__main__.StockPrice

In [6]:
price.symbol, price.date, price.closing_price

('MSFT', datetime.date(2018, 12, 14), 106.03)

## `NamedTuple`

Simlar to `namedtuple` but

- it is a class
- fields have to be typed
- as it is a class, it can have methods

In [7]:
from typing import NamedTuple

In [8]:
class StockPrice(NamedTuple):
    symbol: str
    date: datetime.date
    closing_price: float

    def is_high_tech(self) -> bool:
        return self.symbol in ['MSFT', 'GOOG', 'FB', 'AMZN', 'AAPL']

In [9]:
stockprice = StockPrice('MSFT', datetime.date(2019, 12, 14), 106.83)
stockprice

StockPrice(symbol='MSFT', date=datetime.date(2019, 12, 14), closing_price=106.83)

In [10]:
stockprice.is_high_tech()

True

In [11]:
StockPrice('TOOT', 12, 12).is_high_tech()

False

## Dataclasses

Similar to `NamedTuple` but

- fields are mutable

In [12]:
from dataclasses import dataclass

In [13]:
@dataclass
class StockPrice2:
    symbol: str
    date: datetime.date
    closing_price: float

    def is_high_tech(self) -> bool:
        return self.symbol in ['MSFT', 'GOOG', 'FB', 'AMZN', 'AAPL']

In [14]:
stockprice2 = StockPrice2('MSFt', datetime.date(2018, 12, 14), 106.03)
stockprice2

StockPrice2(symbol='MSFt', date=datetime.date(2018, 12, 14), closing_price=106.03)

In [15]:
stockprice2.closing_price /= 2
stockprice2.closing_price

53.015

For `NamedTuple` this does not work

In [16]:
stockprice.closing_price /= 2

AttributeError: can't set attribute